.osu-page {
    background-color: #1d1d20;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 40px;
    padding-bottom: 15px;
}

.history {
    display: flex;
    flex-direction: column;
    align-items: start;
}