header {
    width: 1000px;
    height: 50px;
    background-color: #1d1d20;
    border-radius: 40px 40px 0 0;
    display: flex;
    justify-content: center;
}
.header-content {
    width: 900px;
    height: 35px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 15px;
}

.header-content__title {
    display: flex;
    gap: 10px;
}

.header-content__title::before {
    content: "";
    background-image: url(/public/assets/header/store.1794c8b8.svg);
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: 75%;
    width: 40px;
}

.header-content__distributor {
    background-color: #27272d;
    width: 187px;
    height: 40px;
    border-radius: 15px;
    display: grid;
    grid-template-columns: 72% 28%;
}

.header-content__distributor::after {
    content: "";
    background-image: url(/public/assets/header/xsolla.d08493f2.png);
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    width: 80%;
    border-radius: 0 15px 15px 0;
    margin-left: 10px;
}

.header-content__text {
    width: 140px;
    height: 32px;
    padding: 5px 0 0 3px;
    font-size: 11px;
    text-align: center;
}

.store-nav {
    width: 100%;
    height: 47.5px;
    background-color: #1d1d20;
    display: flex;
    align-items: center;
    padding-bottom: 10px;
}

.store-nav ul {
    display: flex;
    gap: 20px;
}

.store-nav ul::after {
    content: "";
    width: 213px;
    height: 1px;
    background-color: white;
    position: absolute;
    margin-top: 33px;
}


.store-nav__link:hover {
    color: #ccc;
}

.osu-page {
    background-color: #1d1d20;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 40px;
    padding-bottom: 15px;
}